<footer>
            <ul>
                <li><a href="mailto:timchang3@gmail.com">email</a></li>
                <li>
                  <a href="https://www.facebook.com/">Facebook</a>
                </li>
                <li>
                  <a href="https://plus.google.com/">Google +</a>
                </li>
                <li>
                  <a href="https://instagram.com/">Instagram</a>
                </li>
                <li>
                  <a href="https://twitter.com/quyenchangdds">Twitter</a>
                </li>
                <li><a href="http://timchang3.github.io">timchang3.github.io</a></li>
            </ul>
</footer>
