<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link href='http://fonts.googleapis.com/css?family=Roboto:500,100,300,400' rel='stylesheet' type='text/css'>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		<!--	<style>
				body {
					font-family: 'Roboto', serif;
				}
			</style>
		-->
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about/">About</a></li>
	        		<li><a href="/cv/">CV</a></li>
	        		<li><a href="/blog/">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			 
			{% include footer.html %}
			
			</div><!-- /.container -->
			
		</body>
	</html>
